{% extends "base_esafety.html" %}
{% load i18n %}

{% block breadcrumbs %}
<div class="top-nav"> 
<img src="{{media_url}}img/main_14.gif"/>
{% trans "Your Position: " %} {% trans "Home" %} &rarr; {% trans "Available Trainings" %}
</div>
{% endblock %}

{% block content %}
<div class="content clearfix">
    <h2 class="content-title">{% trans "Available Trainings" %}</h1>
    {% if training_list %}
    <table>
        <thead>
            <th>{% trans "Training Name" %}</th>
            <th>{% trans "Training Expire At" %}</th>
            <th></th>
        </thead>
    {% for training in training_list %}
        <tr>
            <td>{{ training.name }}</td>
            <td>{{ training.expire_by }}</td>
            <td><a href="{% url take_training training_id=training.pk %}">{% trans "Take Training"%}</a></td>
        </tr>
    {% endfor %}
    </table>
    {% else %}
    <div class="content-content">{% trans "No Training is avaliable." %}</div>
    {% endif %}
</div>
{% endblock %}
