{% extends "etraining/base_etraining.html" %}
{% load i18n %}

{% block content %}
<div class="content clearfix">
  <div class="content_title">{{training.document.name}}</div>
  <div class="document">
    <div class="document_body"> 
      <pre>{{ training.document.text }}</pre>
    </div>
    <p class="document_footer">{% trans "[Vendor] * Please participate employment guidance at training reception." %}</p>
    <audio src="{{audio_clip}}" autoplay="autoplay" />
  </div>
  <div class="submit_row">
    <form action="" method="post">{%csrf_token%}
      <input type="hidden" name="training_id" value="{{training_id}}" />
      <input type="submit" value="{% trans 'accept safety instructions' %}" />
    </form>
  </div>
</div>
{% endblock %}
