{% extends "etraining/base_etraining.html" %}
{% load i18n %}

{% block content %}
<div class="content clearfix">
  <div class="content_title">{{training.document.name}}</div>
  <div class="document">
    <div class="document_body"> 
      <pre>{{ training.document.text }}</pre>
    </div>
    <audio id="training_clip" src="{{audio_clip}}" autoplay="autoplay"></audio>
    {% if is_vendor %}
    <p class="document_footer">特别提示：承包商（施工队），请至人事处接受上岗培训</p>
    <audio id="vendor_clip" src="/media/audio/vendor.mp3"></audio>
    {% endif %}
    <audio id="confirm_clip" src="/media/audio/confirm.mp3"></audio>
  </div>
  <div class="submit_row">
    <form action="" method="post">{%csrf_token%}
      <input type="hidden" name="training_id" value="{{training_id}}" />
      <input type="submit" value="{% trans 'accept safety instructions' %}" />
    </form>
  </div>
</div>
{% endblock %}

{% block extrascript %}
{{block.super}}
<script>
$(document).ready(function() {
    audio_clip = document.getElementById("training_clip");
    vendor_clip = document.getElementById("vendor_clip");
    confirm_clip = document.getElementById("confirm_clip");

    audio_clip.addEventListener("ended", function() {
        if(vendor_clip) {
            setTimeout(function () { vendor_clip.play(); }, 1000);
        } else {
            setTimeout(function() { confirm_clip.play(); }, 2000);
        }
    });

    if(vendor_clip) {
        vendor_clip.addEventListener("ended", function() {
            setTimeout(function() { confirm_clip.play(); }, 2000);
        });
    }
});
</script>
{% endblock %}
