{% extends "base_esafety.html" %}
{% load i18n %}

{% block breadcrumbs %}
<div class="top-nav"> 
<img src="{{media_url}}img/main_14.gif"/>
{% trans "Your Position: " %} {% trans "Home" %} &rarr; {% trans "Passed Trainings" %}
</div>
{% endblock %}

{% block content %}
<div class="content clearfix">
    <h2 class="content-title">{% trans "Passed Trainings" %}</h1>
    {% if training_list %}
    <table>
        <tr>
            <th>{% trans "Training Name" %}</th>
            <th>{% trans "Training Expire At" %}</th>
            <th>{% trans "Have Taken Training?" %}</th>
            <th>{% trans "Training Start Time" %}</th>
            <th>{% trans "Training End Time" %}</th>
        </tr>
    {% for training in training_list %}
        <tr>
            <td>{{ training.name }}</td>
            <td>{{ training.expire_by }}</td>
            {% if training.start_time and training.end_time %} 
            <td>{% trans "Yes" %}</td>
            <td>{{ training.start_time }}</td>
            <td>{{ training.end_time }}</td>
            {% else %}
            <td>{% trans "No" %}</td>
            <td></td>
            <td></td>
            {% endif %}
        </tr>
    {% endfor %}
    </table>
    {% else %}
    <div class="content-content">{% trans "No Training is avaliable." %}</div>
    {% endif %}
</div>
{% endblock %}
