{% extends "etraining/base_etraining.html" %}
{% load i18n %}

{% block content %}
<div class="content clearfix">
<div class="content_title">{% trans "Self Training Exam Service" %}</div>
<div class="submit_row">
<form action="" method="post">{%csrf_token%}
<label>{% trans "*Identity Number:" %}</label> <input type="text" name="identity" value="{{identity}}" />
<input type="submit" value="{% trans 'search' %}" />
</form>
</div>
{% if entry %}
<div class="details">
<table class="formtable" border="1">
<tr>
<td class="formlabel">{% trans "identity card: " %}</td>
<td colspan="3">{{entry.identity}}</td>
</tr>
<tr>
<td class="formlabel">{% trans "name: " %}</td>
<td >{{entry.name}}</td>
<td class="formlabel">{% trans "sex: " %}</td>
<td >{% if entry.sex %}男{%else%}女{%endif%}</td>
</tr>
<tr>
<td class="formlabel">{% trans "edu: " %}</td>
<td >{{entry.edu}}</td>
<td class="formlabel">{% trans "major: " %}</td>
<td >{{entry.major}}</td>
</tr>
{% if entry.duty or entry.org %}
<tr>
<td class="formlabel">{% trans "duty: " %}</td>
<td>{{ entry.duty }}</td>
<td class="formlabel">{% trans "org: " %}</td>
<td>{{ entry.org }}</td>
</tr>
{% endif %}
<tr>
<td class="formlabel">{% trans "home address: " %}</td>
<td>{{ entry.home_address }}</td>
<td class="formlabel">{% trans "phone number: " %}</td>
<td>{{ entry.phone_number }}</td>
</tr>
<tr>
<td class="formlabel">{% trans "group: " %}</td>
{% if entry.certid %}
<td>{% if entry.group.parent_group %} {{entry.group.parent_group.name}},{%endif%}{{entry.group.name}}</td>
<td class="formlabel">{% trans "certid: " %}</td>
<td>{{ entry.certid }}</td>
{% else %}
<td colspan="3">{% if entry.group.parent_group %} {{entry.group.parent_group.name}},{%endif%}{{entry.group.name}}</td>
{% endif %}
</tr>
{% if entry.reason %}
<tr>
<td class="formlabel">{% trans "reason: " %}</td>
<td colspan="3">{{entry.reason}}</td>
</tr>
{% endif %}
</table>
</div>
{% elif identity %}
<div>没有合适的记录</div>
{% endif %}
{% if training_list %}
<div class="training_records">
<h3>{% trans "training record" %}</h3>
{% for training in training_list %}
<div>
{{ training.name }} 
{% if training.status == 0 %}
(未参加培训, 请至人事处参加培训并签到)
{% elif training.status == 1 %}
(考试未通过), <a href="{% url self_training training.id %}">播放培训</a>, <a href="{% url self_examination is_employee training.record %}">参加考试</a>
{% elif training.status == 2 %}
(考试已通过), <a href="{% url self_training training.id %}">播放培训</a>
{% endif %}
</div>
{% endfor %}
</div>
{% endif %}
</div>
{% endblock %}
