{% extends "base_esafety.html" %}
{% load i18n %}

{% block breadcrumbs %}
<div class="top-nav"> 
<img src="{{media_url}}img/main_14.gif"/>
{% trans "Your Position: " %} {% trans "Home" %} &rarr; {% trans "Take Training" %}
</div>
{% endblock %}

{% block content %}
<div class="content clearfix">
    <h2 class="content-title">{{ training.name }}</h2>
    <form action="" method="post">{% csrf_token %}
    {% for doc in training.documents.all %}
    <p> {{ doc.text }}</p>
    <audio src="{{doc.audioClip.url}}" controls="controls"> {% trans "Listen to Audio" %}</audio>
    {% endfor %}
    <div class="submit-row">
        <input type="submit" value="{% trans 'submit training' %}" />
    </div>
    </form>
</div>
{% endblock %}
