{% extends "base.html" %}
{% load i18n %}
{% load url from future %}

{% block extrastyle %}
<link rel="stylesheet" href="{{media_url}}css/login.css">
{% endblock %}

{% block header %}
<div id="top_left"><img src="{{media_url}}img/login_03.gif" /></div>
<div id="top_center"></div>
{% endblock %}

{% block body %}
<div id="center_left"></div>
<div id="center_middle">
    <form method="post" action="{% url 'django.contrib.auth.views.login' %}">
        {% csrf_token %}
        <div id="user">
            <span>{{ form.username.label_tag }}</span>
            <span>{{ form.username }}</span>
        </div>
        <div id="password">
            <span>{{ form.password.label_tag }}</span>
            <span>{{ form.password }}</span>
        </div>
        <input type="hidden" name="next" value="{{ next }}" />
        <div id="btn"><input type="submit" value="{% trans 'Log in' %}" /></div>
    </form>
</div>
<div id="center_right"></div>
{% endblock %}

{% block footer %}
<div id="down_left">
    <div id="inf">
        <span class="inf_text">{% trans "Copy Right" %}</span>
        <span class="copyright">{% trans "Esafety Information System" %} &copy; 2012 - 2013</span>
    </div>
</div>
<div id="down_center">
    {% if form.errors %}
    <p>{% trans "Your username and password didn't match. Please try again." %}</p>
    {% endif %}
</div>
{% endblock %}
