{% extends "etraining/admin/base_etraining.html" %}
{% load i18n %}

{% block breadcrumbs %}
{% endblock %}

{% block sidebar %}
{% endblock %}

{% block content %}
<div class="content clearfix">
<div class="content_title">{% trans "Manage Question Poll" %}</div>
<form action="" method="post">{% csrf_token %}
<label for="question_type">{% trans "Choose Question Poll Type" %}</label>
<select name="question_type" id="question_type">
{% for question_type in question_type_list %}
<option value="{{question_type.id}}" {% if question_type.id == select_type %}selected{% endif %}>{{question_type.name}}</option>
{% endfor %}
</select>
<input type="submit" value="Submit" />
</form>
{% if question_list %}
<div class="add_delete_toolbar"></div> <br />
<table cellpadding="0" cellspacing="0" border="0" class="display" id="questionlist" width="100%">
	<thead>
		<tr>
      <th>{% trans "Question Text" %}</th>
      <th>{% trans "Choice 1" %}</th>
      <th>{% trans "Choice 2" %}</th>
      <th>{% trans "Choice 3" %}</th>
      <th>{% trans "Choice 4" %}</th>
      <th>{% trans "Correct Answer" %}</th>
		</tr>
	</thead>
	<tbody>
{% for question in question_list %}
  <tr class="{% cycle odd even %}">
      <td>{{question.content}}</td>
      {% for choice in question.choice_set.all %}
      <td>{{choice.text}}</td>
      {% endfor %}
      <td></td>
    </tr>
{% endfor %}
  </tbody>
</table>
<form id="formAddNewRow" action="#" title="Add new record">
<input type="hidden" name="question_type" value="1" />
<label for="question_content">{% trans "Question Content" %}</label>
<input type="text" name="question_content" id="question_content" class="required" rel="0" />
<br />
<label for="choice_1">{% trans "Choice #1" %}</label>
<input type="text" name="choice_1" id="choice_1" class="required" rel="1" /><input type="checkbox" name="choice_1_is_answer" />
<br />
<label for="choice_2">{% trans "Choice #2" %}</label>
<input type="text" name="choice_2" id="choice_2" class="required" rel="2" /><input type="checkbox" name="choice_2_is_answer" />
<br />
<label for="choice_3">{% trans "Choice #3" %}</label>
<input type="text" name="choice_3" id="choice_3" class="required" rel="3" /><input type="checkbox" name="choice_3_is_answer" />
<br />
<label for="choice_4">{% trans "Choice #4" %}</label>
<input type="text" name="choice_4" id="choice_4" class="required" rel="4" /><input type="checkbox" name="choice_4_is_answer" />
<br />
</form>
{% endif %}
</div>
{% endblock %}

{% block extrascript %}
{{block.super}}
<script>
$(document).ready(function() {
  $('#questionlist').dataTable( {
    "bJQueryUI": true,
    "sPaginationType": "full_numbers",
    "aoColumns": [
      { "bSortable": true },
      { "bSortable": false },
      { "bSortable": false },
      { "bSortable": false },
      { "bSortable": false },
      { "bSortable": false },
    ]
  } ).makeEditable({
    oAddNewRowButtonOptions: { 
      label: "Add...",
      icons: { primary: 'ui-icon-plus' },
    },
    oDeleteRowButtonOptions: {
      label: "Remove",
      icons: { primary: 'ui-icon-trash' },
    },
  });
});
</script>
{% endblock %}
