{% extends "etraining/admin/base_etraining.html" %}
{% load i18n %}

{% block breadcrumbs %}
{% endblock %}

{% block sidebar %}
{% endblock %}

{% block content %}
<div class="content clearfix">
<div class="content_title">{% trans "Manage Documents" %}</div>
<div class="add_delete_toolbar"></div> <br />
<table cellpadding="0" cellspacing="0" border="0" class="display" id="documentlist" width="100%">
	<thead>
		<tr>
      <th>{% trans "Document Name" %}</th>
      <th>{% trans "Document Text" %}</th>
      <th>{% trans "Document Preview" %}</th>
		</tr>
	</thead>
	<tbody>
{% for document in document_list %}
  <tr id="{{document.id}}" class="{% cycle odd even %}">
      <td>{{document.name}}</td>
      <td>{{document.text}}</td>
      <td></td>
    </tr>
{% endfor %}
  </tbody>
</table>
</div>

<form id="formAddNewRow" action="#" title="Add new record">
{% csrf_token %}
<label for="name">{% trans "Document Name" %}</label>
<input type="text" name="name" id="name" class="required" rel="0" />
<br />
<label for="text">{% trans "Document Text" %}</label>
<input type="text" name="text" id="text" class="required" rel="1" />
<br />
<input type="hidden" value="preview" rel="2" />
</form>
{% endblock %}

{% block extrascript %}
{{block.super}}
<script>
$(document).ready(function() {
  $('#documentlist').dataTable( {
    "bJQueryUI": true,
    "sPaginationType": "full_numbers",
  } ).makeEditable({
    sUpdateURL: '{% url edit_document %}',
    sAddURL: '{% url add_document %}',
    sDeleteURL: '{% url delete_document %}',
    oAddNewRowButtonOptions: { 
      label: "Add...",
      icons: { primary: 'ui-icon-plus' },
    },
    oDeleteRowButtonOptions: {
      label: "Remove",
      icons: { primary: 'ui-icon-trash' },
    },
    "aoColumns": [
      {},
      {
        indicator: 'Saving text...',
        tooltip: 'Click to edit training text',
        type: 'textarea',
        submit:'Save changes',
        fnOnCellUpdated: function(sStatus, sValue, settings){
          alert("(Cell Callback): Cell is updated with value " + sValue);
        }
      },
      null
    ],
  });
});
</script>
{% endblock %}
