{% extends "etraining/admin/base_etraining.html" %}
{% load i18n %}

{% block breadcrumbs %}
{% endblock %}

{% block insidebar %}
<li><a href="{% url training_schedule_list %}">查看培训计划表</td>
<li><a href="{% url employee_registration %}">{% trans "employee registration" %}</a></li>
<li><a href="{% url schedule_employee_training %}">{% trans "schedule employee training" %}</a></li>
<li><a href="{% url schedule_vendor_training %}">{% trans "schedule vendor training" %}</a></li>
<li><a href="{% url schedule_visitor_training %}">{% trans "schedule visitor training" %}</a></li>
<li>{% trans "manage documents" %}</li>
<li><a href="{% url manage_question_poll %}">{% trans "manage question poll" %}</a></li>
{% endblock %}

{% block content %}
<div class="content clearfix">
<div class="content_title">{% trans "Manage Documents" %}</div>
<div class="add_delete_toolbar"></div> <br />
<table cellpadding="0" cellspacing="0" border="0" class="dataTable" width="100%">
	<thead>
		<tr>
      <th>{% trans "Document Name" %}</th>
      <th>{% trans "Document Text" %}</th>
		</tr>
	</thead>
	<tbody>
{% for document in document_list %}
  <tr id="{{document.id}}" class="{% cycle odd even %}">
      <td>{{document.name}}</td>
      <td>{{document.text}}</td>
    </tr>
{% endfor %}
  </tbody>
</table>
</div>

<div style="display:none">
<form id="formAddNewRow" action="#" title="Add new record">
{% csrf_token %}
<label for="name">{% trans "Document Name" %}</label>
<input type="text" name="name" id="name" class="required" rel="0" />
<br />
<label for="text">{% trans "Document Text" %}</label>
<textarea name="text" id="text">
</textarea>
<br />
</form>
</div>
{% endblock %}

{% block extrascript %}
{{block.super}}
<script>
$(document).ready(function() {
  $('.dataTable').dataTable( {
    "bJQueryUI": true,
    "sPaginationType": "full_numbers",
      "oLanguage": {
        "sSearch": "搜索",
        "sLengthMenu": "每页显示_MENU_条数据",
        "sZeroRecords": "对不起，没有查询到数据",
        "sEmptyTable": "对不起，没有任何数据",
        "sInfo": "第_START_-_END_条数据，共计_TOTAL_条数据",
        "sInfoEmpty": "没有记录显示",
        "sInfoFiltered": "(筛选自从_MAX_条数据)",
        "oPaginate": {
            "sFirst": "第一页",
            "sLast": "最后一页",
            "sNext": "下一页",
            "sPrevious": "上一页"
        }
      }
  } ).makeEditable({
    sUpdateURL: '{% url edit_document %}',
    sAddURL: '{% url add_document %}',
    sDeleteURL: '{% url delete_document %}',
    oAddNewRowButtonOptions: { 
      label: "增加文档",
      icons: { primary: 'ui-icon-plus' },
    },
    oDeleteRowButtonOptions: {
      label: "删除选中文档",
      icons: { primary: 'ui-icon-trash' },
    },
    "aoColumns": [
      {},
      {
        indicator: '保存中。。。',
        type: 'textarea',
        submit:'保存',
      },
      null
    ],
  });
});
</script>
{% endblock %}
