{% extends "etraining/admin/base_etraining.html" %}
{% load i18n %}

{% block breadcrumbs %}
{% endblock %}

{% block sidebar %}
{% endblock %}

{% block content %}
<div class="content clearfix">
<div class="content_title">{% trans "Training List" %}</div>
<div class="add_delete_toolbar"></div> <br />
<table cellpadding="0" cellspacing="0" border="0" class="display" id="documentlist" width="100%">
	<thead>
		<tr>
      <th>{% trans "Training Name" %}</th>
      <th>{% trans "Training Description" %}</th>
      <th>{% trans "Training Attendees" %}</th>
      <th>{% trans "Training Signup" %}</th>
		</tr>
	</thead>
	<tbody>
{% for training_schedule in employee_training_schedule %}
  <tr id="{{training_schedule.id}}" class="{% cycle odd even %}">
      <td>{{training_schedule.training.name}}</td>
      <td>{{training_schedule.training.description}}</td>
      <td>{{training_schedule.employee_group.name}}</td>
      <td></td>
    </tr>
{% endfor %}
{% for training_schedule in nonemployee_training_schedule %}
  <tr id="{{training_schedule.id}}" class="{% cycle odd even %}">
      <td>{{training_schedule.training.name}}</td>
      <td>{{training_schedule.training.description}}</td>
      <td>{{training_schedule.nonemployee_group.name}}</td>
      <td></td>
    </tr>
{% endfor %}
  </tbody>
</table>
</div>
{% endblock %}

{% block extrascript %}
{{block.super}}
<script>
$(document).ready(function() {
  $('#documentlist').dataTable( {
    "bJQueryUI": true,
    "sPaginationType": "full_numbers",
  });
});
</script>
{% endblock %}
