{% extends "etraining/admin/base_etraining.html" %}
{% load i18n %}

{% block breadcrumbs %}
{% endblock %}

{% block sidebar %}
{% endblock %}

{% block content %}
<div class="content wider clearfix">
<div class="content_title">{% trans "training signup" %}</div>
<table class="formtable noborder">
<tr>
<td class="formlabel">{% trans "training name" %}</td>
<td>{{training.name}}</td>
<td class="formlabel">{% trans "training date" %}</td>
<td>{{training.training_date}}</td>
</tr>
<tr>
{% if training.project %}
<td class="formlabel">{% trans "vendor project" %}</td>
<td>{{training.project}}</td>
{% else %}
<td class="formlabel">{% trans "training credits" %}</td>
<td>{{training.credits}}</td>
{% endif %}
<td class="formlabel">{% trans "training attendees" %}</td>
<td>{% if group.parent_group %} {{group.parent_group.name}}, {%endif%} {{group.name}}</td>
</tr>
</table>
<table cellpadding="0" cellspacing="0" border="0" class="dataTable" width="100%">
<thead>
<tr>
<th>{% trans "training attendee name" %}</th>
<th>{% trans "training attendee identity" %}</th>
{% if not group.is_employee_group %}
<th>{% trans "entrance time" %}</th>
{% endif %}
<th>{% trans "sign up" %}</th>
</tr>
</thead>
<tbody>
{% if group.is_employee_group %}
{% for employee in employee_list %}
<tr id="{{employee.id}}" class="{% cycle odd even %}">
<td>{{employee.name}}</td>
<td>{{employee.identity}}</td>
{% if employee.training_done %}
<td>{% trans "signed up" %}</td>
{% else %}
<td><button class="signup">{% trans "sign up" %}</button></td>
{% endif %}
</tr>
{% endfor %}
{% else %}
{% for nonemployee in nonemployee_list %}
<tr id="{{nonemployee.id}}" class="{% cycle odd even %}">
<td>{{nonemployee.name}}</td>
<td>{{nonemployee.identity}}</td>
<td>{{nonemployee.entrance_time}}</td>
{% if nonemployee.training_done %}
<td>{% trans "signed up" %}</td>
{% else %}
<td><button class="signup">{% trans "sign up" %}</button></td>
{% endif %}
</tr>
{% endfor %}
{% endif %}
</tbody>
<tfoot>
<th><input type="text" name="search_attendeename" value="{% trans 'search attendee name' %}" class="search_init" /></th>
<th><input type="text" name="search_attendeeid" value="{% trans 'search attendee identity' %}" class="search_init" /></th>
{% if not group.is_employee_group %}
<th><input type="text" name="search_entrancetime" value="{% trans 'search entrance time' %}" class="search_init" /></th>
{% endif %}
<th></th>
</tfoot>
</table>
</div>
<div style="display:none">
<div id="signup_dialog" title="{% trans "Sign Up" %}">
<canvas id="signature_canvas" style="border:1px solid black;" height="200" width="200"></canvas>
</div>
{% endblock %}

{% block extrascript %}
{{block.super}}
<script>
var asInitVals = new Array();
$(document).ready(function() {
  var idt, parent;
  var draw = new Draw("signature_canvas");

  $("#signup_dialog").dialog({
    autoOpen: false,
    height: 350,
    width: 250,
    modal: true,
    buttons: {
      "确认": function() {
        b64 = document.getElementById("signature_canvas").toDataURL("image/png");
        $.post("{% url training_signup group.id training.id %}",
            {
                signature: b64, 
                {% if group.is_employee_group %}
                employee_id: idt
                {% else %}
                registration: idt
                {% endif %}
            },
            function(data) {
              if (data == "OK") {
            parent.html("已签到");
          }
        });
        $(this).dialog("close");
      },
      "取消": function() {
        $(this).dialog("close");
      }
    }
  });

  $(".signup").click(function() {
    idt = $(this.parentNode.parentNode).attr('id');
    parent = $(this.parentNode);
    $("#signup_dialog" ).dialog( "open" );
  });

    var oTable = $('.dataTable').dataTable({
      "bJQueryUI": true,
      "sPaginationType": "full_numbers",
      "oLanguage": {
        "sSearch": "搜索",
        "sLengthMenu": "每页显示_MENU_条数据",
        "sZeroRecords": "对不起，没有查询到数据",
        "sEmptyTable": "对不起，没有任何数据",
        "sInfo": "第_START_-_END_条数据，共计_TOTAL_条数据",
        "sInfoEmpty": "没有记录显示",
        "sInfoFiltered": "(筛选自从_MAX_条数据)",
        "oPaginate": {
          "sFirst": "第一页",
          "sLast": "最后一页",
          "sNext": "下一页",
          "sPrevious": "上一页"
        }
      }
    });

    $("tfoot input").keyup( function () {
        oTable.fnFilter( this.value, $("tfoot input").index(this) );
      });

    $("tfoot input").each( function (i) {
        asInitVals[i] = this.value;
      });

    $("tfoot input").focus( function () {
        if ( this.className == "search_init" ) {
          this.className = "";
          this.value = "";
        }
      });

    $("tfoot input").blur( function (i) {
        if ( this.value == "" ) {
          this.className = "search_init";
          this.value = asInitVals[$("tfoot input").index(this)];
        }
      });
});
</script>
{% endblock %}
