{% extends "etraining/admin/base_etraining.html" %}
{% load i18n %}

{% block breadcrumbs %}
{% endblock %}

{% block sidebar %}
{% endblock %}

{% block content %}
<div class="content clearfix">
<div class="content_title">{% trans "Training Signup" %}</div>
<div>{{training.name}}</div>
<div>{{training.training_date}}</div>
<table cellpadding="0" cellspacing="0" border="0" class="display" id="documentlist" width="100%">
	<thead>
		<tr>
      <th>{% trans "Attendee Name" %}</th>
      <th>{% trans "Attendee Identity" %}</th>
      <th>{% trans "Sign Up" %}</th>
		</tr>
	</thead>
	<tbody>
  {% for employee in employee_list %}
    <tr id="{{employee.id}}" class="{% cycle odd even %}">
      <td>{{employee.name}}</td>
      <td>{{employee.identity}}</td>
      <td><button class="signup">{% trans "Sign Up" %}</button></td>
    </tr>
  {% endfor %}
  {% for nonemployee in nonemployee_list %}
    <tr id="{{nonemployee.id}}" class="{% cycle odd even %}">
      <td>{{nonemployee.name}}</td>
      <td>{{nonemployee.identity}}</td>
      <td><button class="signup">{% trans "Sign Up" %}</button></td>
    </tr>
  {% endfor %}
  </tbody>
</table>
<table
</div>
{% endblock %}

{% block extrascript %}
{{block.super}}
<script>
$(document).ready(function() {
  $(".signup").button().click(function() {
    alert($(this.parentNode.parentNode).attr('id'));
  });
});
</script>
{% endblock %}
