{% extends "etraining/admin/base_etraining.html" %} {% load i18n %} {% block breadcrumbs %}
{% endblock %}

{% block sidebar %}
{% endblock %}

{% block content %}
<div class="content wider clearfix">
<div class="content_title">{% trans "view training signup" %}</div>
<table class="formtable noborder">
<tr>
<td class="formlabel">{% trans "training name" %}</td>
<td>{{training.name}}</td>
<td class="formlabel">{% trans "training date" %}</td>
<td>{{training.training_date}}</td>
</tr>
<tr>
{% if training.project %}
<td class="formlabel">{% trans "vendor project" %}</td>
<td>{{training.project}}</td>
{% else %}
<td class="formlabel">{% trans "training credits" %}</td>
<td>{{training.credits}}</td>
{% endif %}
<td class="formlabel">{% trans "training attendees" %}</td>
<td>{% if group.parent_group %} {{group.parent_group.name}}, {%endif%} {{group.name}}</td>
</tr>
</table>
<table cellpadding="0" cellspacing="0" border="0" class="dataTable" width="100%">
<thead>
<tr>
<th>{% trans "training attendee name" %}</th>
<th>{% trans "training attendee identity" %}</th>
{% if not group.is_employee_group %}
<th>{% trans "entrance time" %}</th>
{% endif %}
<th>{% trans "sign up" %}</th>
</tr>
</thead>
<tbody>
{% if group.is_employee_group %}
{% for employee in employee_list %}
<tr id="{{employee.id}}" class="{% cycle odd even %}">
<td>{{employee.name}}</td>
<td>{{employee.identity}}</td>
{% if employee.status == 0 %}
<td>{% trans "training not attended" %}</td>
{% elif employee.status == 1 %}
<td>{% trans "exam not passed" %}</td>
{% elif employee.status == 2 %}
<td>{% trans "exam passed" %}</td>
{% endif %}
</tr>
{% endfor %} 
{% else %}
{% for nonemployee in nonemployee_list %}
<tr id="{{nonemployee.id}}" class="{% cycle odd even %}">
<td>{{nonemployee.name}}</td>
<td>{{nonemployee.identity}}</td>
<td>{{nonemployee.entrance_time}}</td>
{% if nonemployee.status == 0 %}
<td>{% trans "training not attended" %}</td>
{% elif nonemployee.status == 1 %}
<td>{% trans "exam not passed" %}</td>
{% elif nonemployee.status == 2 %}
<td>{% trans "exam passed" %}</td>
{% endif %}
</tr>
{% endfor %}
{% endif %}
</tbody>
<tfoot>
<th><input type="text" name="search_attendeename" value="{% trans 'search attendee name' %}" class="search_init" /></th>
<th><input type="text" name="search_attendeeid" value="{% trans 'search attendee identity' %}" class="search_init" /></th>
{% if not group.is_employee_group %}
<th><input type="text" name="search_entrancetime" value="{% trans 'search entrance time' %}" class="search_init" /></th>
{% endif %}
<th></th>
</tfoot>
</table>
</div>
{% endblock %}

{% block extrascript %}
{{block.super}}
<script>
var asInitVals = new Array();
$(document).ready(function() {
    var oTable = $('.dataTable').dataTable({
      "bJQueryUI": true,
      "sPaginationType": "full_numbers",
      "oLanguage": {
        "sSearch": "搜索",
        "sLengthMenu": "每页显示_MENU_条数据",
        "sZeroRecords": "对不起，没有查询到数据",
        "sEmptyTable": "对不起，没有任何数据",
        "sInfo": "第_START_-_END_条数据，共计_TOTAL_条数据",
        "sInfoEmpty": "没有记录显示",
        "sInfoFiltered": "(筛选自从_MAX_条数据)",
        "oPaginate": {
            "sFirst": "第一页",
            "sLast": "最后一页",
            "sNext": "下一页",
            "sPrevious": "上一页"
        }
      }
      });

    $("tfoot input").keyup( function () {
      oTable.fnFilter( this.value, $("tfoot input").index(this) );
      });

    $("tfoot input").each( function (i) {
      asInitVals[i] = this.value;
      });

    $("tfoot input").focus( function () {
      if ( this.className == "search_init" ) {
      this.className = "";
      this.value = "";
      }
      });

    $("tfoot input").blur( function (i) {
        if ( this.value == "" ) {
        this.className = "search_init";
        this.value = asInitVals[$("tfoot input").index(this)];
        }
        });
});
</script>
{% endblock %}
