{% extends "etraining/admin/base_etraining.html" %}
{% load i18n %}

{% block breadcrumbs %}
{% endblock %}

{% block insidebar %}
<li><a href="{% url view_training_list %}">查看已结束培训列表</a></li>
<li>{% trans "view employee training" %}</li>
<li><a href="{% url view_vendor_training %}">{% trans "view vendor training" %}</a></li>
<li><a href="{% url view_visitor_entrance %}">{% trans "view visitor entrance" %}</a></li>
{% endblock %}

{% block content %}
<div class="content clearfix">
<div class="content_title">{% trans "View Employee Trainings" %}</div>
<table cellpadding="0" cellspacing="0" border="0" class="dataTable" width="100%">
<thead>
<tr>
<th>{% trans "Training Name" %}</th>
<th>{% trans "Training Description" %}</th>
<th>{% trans "Training Type" %}</th>
<th>{% trans "Training Attendee Name" %}</th>
<th>{% trans "Training Attendee ID" %}</th>
<th>{% trans "Training Attend Date" %}</th>
<th>{% trans "Training Exam Detail" %}</th>
<th>{% trans "Training Admin" %}</th>
</tr>
</thead>
<tbody>
{% for employee_training in employee_training_list %}
<tr class="{% cycle odd even %}">
<td>{{employee_training.training.name}}</td>
<td>{{employee_training.training.description}}</td>
<td>{{employee_training.training.training_type}}</td>
<td>{{employee_training.employee.name}}</td>
<td>{{employee_training.employee.identity}}</td>
<td>{{employee_training.attend_date}}</td>
{% if employee_training.score < employee_training.training.pass_criteria %}
<td>未通过</td>
{% else %}
<td>已通过</td>
{% endif %}
<td>{{employee_training.admin}}</td>
</tr>
{% endfor %}
</tbody>
<tfoot>
<tr>
<th><input type="text" name="search_name" value="搜索名称" class="search_init" /></th>
<th><input type="text" name="search_description" value="搜索简介" class="search_init" /></th>
<th><input type="text" name="search_type" value="搜索类型" class="search_init" /></th>
<th><input type="text" name="search_employeename" value="搜索参加者姓名" class="search_init" /></th>
<th><input type="text" name="search_employeeid" value="搜索参加者身份证" class="search_init" /></th>
<th><input type="text" name="search_date" value="搜索时间" class="search_init" /></th>
<th><input type="text" name="search_exam" value="搜索考试通过情况" class="search_init" /></th>
<th><input type="text" name="search_admin" value="搜索管理员" class="search_init" /></th>
</tr>
</tfoot>
</table>
</div>
{% endblock %}

{% block extrascript %}
{{block.super}}
<script>
var asInitVals = new Array();
$(document).ready(function() {
    var oTable = $('.dataTable').dataTable({
      "bJQueryUI": true,
      "sPaginationType": "full_numbers",
      "oLanguage": {
        "sSearch": "搜索",
        "sLengthMenu": "每页显示_MENU_条数据",
        "sZeroRecords": "对不起，没有查询到数据",
        "sEmptyTable": "对不起，没有任何数据",
        "sInfo": "第_START_-_END_条数据，共计_TOTAL_条数据",
        "sInfoEmpty": "没有记录显示",
        "sInfoFiltered": "(筛选自从_MAX_条数据)",
        "oPaginate": {
            "sFirst": "第一页",
            "sLast": "最后一页",
            "sNext": "下一页",
            "sPrevious": "上一页"
        }
      }
    });

    $("tfoot input").keyup( function () {
      oTable.fnFilter( this.value, $("tfoot input").index(this) );
    });

    $("tfoot input").each( function (i) {
      asInitVals[i] = this.value;
    });

    $("tfoot input").focus( function () {
      if ( this.className == "search_init" ) {
        this.className = "";
        this.value = "";
      }
    });

    $("tfoot input").blur( function (i) {
        if ( this.value == "" ) {
          this.className = "search_init";
          this.value = asInitVals[$("tfoot input").index(this)];
        }
    });
});
</script>
{% endblock %}
