{% extends "etraining/admin/base_etraining.html" %}
{% load i18n %}

{% block breadcrumbs %}
{% endblock %}

{% block insidebar %}
<li><a href="{% url view_training_list %}">查看已结束培训列表</a></li>
<li><a href="{% url view_employee_training %}">{% trans "view employee training" %}</a></li>
<li><a href="{% url view_vendor_training %}">{% trans "view vendor training" %}</a></li>
<li>{% trans "view visitor entrance" %}</li>
{% endblock %}

{% block content %}
<div class="content clearfix">
<div class="content_title">{% trans "View Visitor Entrance" %}</div>
<table cellpadding="0" cellspacing="0" border="0" class="dataTable" width="100%">
	<thead>
		<tr>
      <th>{% trans "Identity" %}</th>
      <th>{% trans "Name" %}</th>
      <th>{% trans "Group" %}</th>
      <th>{% trans "Certificate Id" %}</th>
      <th>{% trans "Entrance Time" %}</th>
      <th>{% trans "Entrance Training" %}</th>
      <th>{% trans "Admin" %}</th>
		</tr>
	</thead>
	<tbody>
  {% for visitor_entrance in visitor_entrance_list %}
    <tr class="{% cycle odd even %}">
      <td>{{visitor_entrance.identity}}</td>
      <td>{{visitor_entrance.name}}</td>
      <td>{{visitor_entrance.group.name}}</td>
      <td>{{visitor_entrance.certid}}</td>
      <td>{{visitor_entrance.entrance_time}}</td>
      {% if visitor_entrance.entrance_training %}
      <td>已参加</td>
      {% else %}
      <td>未参加</td>
      {% endif %}
      <td>{{visitor_entrance.admin}}</td>
    </tr>
  {% endfor %}
  </tbody>
<tfoot>
<tr>
<th><input type="text" name="search_identity" value="搜索身份证" class="search_init" /></th>
<th><input type="text" name="search_name" value="搜索姓名" class="search_init" /></th>
<th><input type="text" name="search_groupname" value="搜索类别" class="search_init" /></th>
<th><input type="text" name="search_certid" value="搜索特殊证件号" class="search_init" /></th>
<th><input type="text" name="search_entrancetime" value="搜索入厂时间" class="search_init" /></th>
<th><input type="text" name="search_entrancetraining" value="搜索入厂培训" class="search_init" /></th>
<th><input type="text" name="search_admin" value="搜索管理员" class="search_init" /></th>
</tr>
</tfoot>
</table>
</div>
{% endblock %}

{% block extrascript %}
{{block.super}}
<script>
var asInitVals = new Array();
$(document).ready(function() {
    var oTable = $('.dataTable').dataTable({
      "bJQueryUI": true,
      "sPaginationType": "full_numbers",
      "oLanguage": {
        "sSearch": "搜索",
        "sLengthMenu": "每页显示_MENU_条数据",
        "sZeroRecords": "对不起，没有查询到数据",
        "sEmptyTable": "对不起，没有任何数据",
        "sInfo": "第_START_-_END_条数据，共计_TOTAL_条数据",
        "sInfoEmpty": "没有记录显示",
        "sInfoFiltered": "(筛选自从_MAX_条数据)",
        "oPaginate": {
            "sFirst": "第一页",
            "sLast": "最后一页",
            "sNext": "下一页",
            "sPrevious": "上一页"
        }
      }
    });

    $("tfoot input").keyup( function () {
      oTable.fnFilter( this.value, $("tfoot input").index(this) );
    });

    $("tfoot input").each( function (i) {
      asInitVals[i] = this.value;
    });

    $("tfoot input").focus( function () {
      if ( this.className == "search_init" ) {
        this.className = "";
        this.value = "";
      }
    });

    $("tfoot input").blur( function (i) {
        if ( this.value == "" ) {
          this.className = "search_init";
          this.value = asInitVals[$("tfoot input").index(this)];
        }
    });
});
</script>
{% endblock %}
