{% extends "etraining/admin/base_etraining.html" %}
{% load i18n %}

{% block breadcrumbs %}
{% endblock %}

{% block sidebar %}
{% endblock %}

{% block content %}
<div class="content wider clearfix">
<div class="content_title">{% trans "Visitor Registration" %}</div>
<form id="registration_form" action="" method="post">{% csrf_token %}
<table class="formtable wider">
<tr>
<td class="formlabel"><label for="id_identity">{% trans "*identity card: " %}</label></td>
<td colspan="3"><input type="text" id="id_identity" name="identity" style="width:60%" validate="required:true, minlength:18, maxlength:18" title="请输入有效的18位身份证号码" /></td>
</tr>
<tr>
<td class="formlabel"><label for="id_name">{% trans "*name: " %}</label></td>
<td><input validate="required:true, minlength:2, maxlength:4" type="text" id="id_name" name="name" title="请输入有效的姓名" /></td>
<td class="formlabel"><label for="id_sex">{% trans "*sex: " %}</label></td>
<td>
<select name="sex" id="id_sex">
<option value=1>男</option>
<option value=0>女</option>
</td>
</tr>
<tr>
<td class="formlabel"><label for="id_edu">{% trans "*edu: " %}</label></td>
<td>
<select name="edu" id="id_edu">
<option value="小学">小学</option>
<option value="初中">初中</option>
<option value="高中">高中</option>
<option value="大学" selected>大学</option>
<option value="研究生">研究生</option>
<option value="其他">其他</option>
</select>
</td>
<td class="formlabel"><label for="id_major">{% trans "major: " %}</label></td>
<td>
<select name="major" id="id_major">
<option value="计算机">计算机</option>
<option value="数学">数学</option>
<option value="物理">物理</option>
<option value="无线电" selected>无线电</option>
<option value="其他">其他</option>
</select>
</td>
</tr>
<tr>
<td class="formlabel"><label for="id_duty">{% trans "duty: " %}</label></td>
<td><input type="text" id="id_duty" name="duty" /></td>
<td class="formlabel"><label for="id_org">{% trans "org: " %}</label></td>
<td><input type="text" id="id_org" name="org" /></td>
</tr>
<tr>
<td class="formlabel"><label for="id_home_address">{% trans "home address: " %}</label></td>
<td><input validate="minlength:2" type="text" id="id_home_address" name="home_address" title="请输入有效的家庭地址" /></td>
<td class="formlabel"><label for="id_phone_number">{% trans "phone number: " %}</label></td>
<td><input validate="number:true" type="text" id="id_phone_number" name="phone_number" title="电话号码只能包括数字" /></td>
</tr>
<tr>
<td class="formlabel"><label for="id_group">{% trans "*group: " %}</label></td>
<td>
<select id="parent" name="group">
{% for group in groups %}
<option value="{{group.id}}">{{group.name}}</option>
{% endfor %}
</select>
<select id="child" name="sub_group">
{% for group in sub_groups %}
<option class="sub_{{group.parent_group.id}}" value="{{group.id}}">{{group.name}}</option>
{% endfor %}
</select>
</td>
<td class="formlabel"><label for="id_certid">{% trans "certid: " %}</label></td>
<td><input type="text" name="certid" id="id_certid" title="请输入特种证件号码" disabled />
</tr>
<tr>
<td class="formlabel"><label for="id_reason">{% trans "*reason: " %}</label></td>
<td colspan="3"><textarea id="id_reason" name="reason" style="width:70%" validate="required:true, minlength:4" title="入厂理由不能少于4个字" ></textarea> </td>
</tr>
<tr class="submit_row">
<td colspan="4" class="center"> <input type="submit" value="{% trans 'register' %}" /></td>
</tr>
</table>
</form>
</div>
{% endblock %}

{% block extrascript %}
{{block.super}}
<script>
$(document).ready(function() {
  makeSublist('parent', 'child', false, '');
  $("#child").change( function() {
    if ($("#child").find("option:selected").text() == "电焊工") {
      if ($("#id_certid").attr("disabled")) {
        $("#id_certid").removeAttr("disabled");
      }
    } else {
      $("#id_certid").attr("disabled", "disabled");
    }
  });
  $("#registration_form").validate({
      rules: {
          identity: {
              pattern: /^\d{17}[0-9xX]$/
          },
          certid: {
              required: {
                  depends: function() {
                      return ($("#child").find("option:selected").text() == "电焊工");
                  }
              }
          }
      }
  });
});
</script>
{% endblock %}
