{% extends "etraining/admin/base_etraining.html" %}
{% load i18n %}

{% block breadcrumbs %}
{% endblock %}

{% block sidebar %}
{% endblock %}

{% block content %}
<div class="content clearfix">
<div class="content_title">{% trans "Visitor Registration" %}</div>
<form action="" method="post">{% csrf_token %}
{{ form.non_field_errors }}
<table>
<tr>
<td><label for="id_identity">{% trans "Identity Card: " %}</label></td>
<td>{{ form.identity }}</td>
</tr>
<tr>
<td><label for="id_name">{% trans "Name: " %}</label></td>
<td>{{ form.name }}</td>
</tr>
<tr>
<td><label for="id_sex">{% trans "Sex: " %}</label></td>
<td>{{ form.sex }}</td>
</tr>
<tr>
<td><label for="id_edu">{% trans "Edu: " %}</label></td>
<td>{{ form.edu }}</td>
</tr>
<tr>
<td><label for="id_major">{% trans "Major: " %}</label></td>
<td>{{ form.major }}</td>
</tr>
<tr>
<td><label for="id_duty">{% trans "Duty: " %}</label></td>
<td>{{ form.duty }}</td>
</tr>
<tr>
<td><label for="id_org">{% trans "Org: " %}</label></td>
<td>{{ form.org }}</td>
</tr>
<tr>
<td><label for="id_home_address">{% trans "Homeaddress: " %}</label></td>
<td>{{ form.home_address }}</td>
</tr>
<tr>
<td><label for="id_phone_number">{% trans "Phone number: " %}</label></td>
<td>{{ form.phone_number }}</td>
</tr>
<tr>
<td><label for="id_group">{% trans "Group: " %}</label></td>
<td>
<select id="parent" name="group">
{% for group in groups %}
<option value="{{group.id}}">{{group.name}}</option>
{% endfor %}
</select>
<select id="child" name="sub_group">
{% for group in sub_groups %}
<option class="sub_{{group.parent_group.id}}" value="{{group.id}}">{{group.name}}</option>
{% endfor %}
</select>
</td>
</tr>
<tr>
<td><label for="id_certid">{% trans "Cert ID: " %}</label></td>
<td>{{ form.certid }}</td>
</tr>
<tr>
<td><label for="id_reason">{% trans "Reason: " %}</label></td>
<td>{{ form.reason }}</td>
</tr>
</table>
<input type="submit" value="Submit" />
</form>
</div>
{% endblock %}

{% block extrascript %}
{{block.super}}
<script>
$(document).ready(function() {
  makeSublist('parent', 'child', false, '');
});
</script>
{% endblock %}
