header {
  width:100%; 
  background:url(../img/main_04.gif);
}

header .logo {
  width:357px;
  height:60px; 
  background:url(../img/main_02.gif); 
  margin-left:32px;
}

header .top-nav {
  background-image: url("../img/main_09.gif"); 
  background-repeat: repeat-x; 
  color: #FFFFFF; 
  height: 35px; 
}

.content {
  margin: 0 auto;
}

footer .copyright {
  background-image: url("../img/main_09.gif"); 
  background-repeat: repeat-x; 
  color: #FFFFFF; 
  height: 35px; 
  position: fixed;
  bottom: 10px;
  width: 100%;
  padding-top: 5px;
  text-align: center;
}
