.content {
  text-align: center;
  width: 50%;
  margin: 0 auto;
}

.content h2 {
  color: red;
}

.content h2.welcome_text {
  font-size: 3.5em;
}

.content h2.welcome_text2 {
  font-size: 2.5em;
}

.content .content_title {
  font-size: 2em;
  margin-top: 20px;
  margin-bottom: 20px;
}

.content .document {
  border: 1px solid black;
}

.content .document_body {
  text-align: left;
  padding-left: 20px;
  padding-top: 20px;
}

.content .document_footer {
  margin-top: 20px;
}

.content .submit_row {
  margin-top: 20px;
  margin-bottom: 20px;
}

.content .summary {
  text-align: left;
  margin-top: 20px;
  margin-left: 20px;
}
