.content {
  text-align: center;
  width: 50%;
  margin: 0 auto;
}

.content h2 {
  color: red;
}

.content h2.welcome_text {
  font-size: 3.5em;
}

.content h2.welcome_text2 {
  font-size: 2.5em;
}

.content .content_title {
  font-size: 2em;
  margin-top: 20px;
  margin-bottom: 20px;
}

.content .document {
  border: 1px solid black;
}

.content .document_body {
  text-align: left;
  margin-left: 20px;
  margin-right: 20px;
}

.content .document_footer {
  text-align: left;
  margin-top: 20px;
  margin-left: 20px;
}

.content .submit_row {
  margin-top: 20px;
  margin-bottom: 20px;
}

.content .summary {
  text-align: left;
  margin-top: 20px;
  margin-left: 20px;
}

.content h2.test_result {
  font-size: 2.5em;
}

.content .test_result_summary {

}

.content .question {
  margin: 0 auto;
  margin-top: 20px;
  text-align: left;
  border: 1px solid black;
  padding: 20px;
}

.content .question_body {
  font-weight: bold;
}

.content .choices {
  padding-left: 10px;
}

.content .choice {
  padding-top: 10px;
}

table.formtable {
  margin: 0 auto;
  width: 90%;
}

table.formtable tr td {
  padding-top: 10px;
}

table.formtable tr.submitrow td {
  padding-top: 30px;
  text-align: center;
}

table.formtable td.formlabel {
  text-align: right;
  font-weight: bold;
}

