header .tools {
  background-image: url("../img/main_09.gif"); 
  background-repeat: repeat-x; 
  color: #FFFFFF; 
  height: 35px; 
}

header .tools .logout {
  float:right; 
  margin-right:35px;
  padding-top:5px; 
}

header .tools .logout .logouttext {
  padding-top:3px; 
  margin-left:3px; 
  color: #fff;
  text-decoration: none;
  outline: none;
  font-weight: bold;
}

header .top-nav {
  background-image: url("../img/main_10.gif");
  background-repeat: repeat-x;
  height: 20px;
  padding-top: 5px;
  padding-left: 5px;
  margin-left: 188px;
  font-size: 0.8em;
}

.side-nav {
  width:188px; 
  position: absolute;
  top: 60px;
  left: 10px;
  background-image:url(../img/main_bg.gif); 
  background-repeat:repeat-x;
}

.side-nav .sidenav-top {
  width:184px;
  background:url(../img/main_07.gif) no-repeat;
  height:52px; 
}

.side-nav .sidenav-tree {
  width:184px; 
  background:url(../img/main_19.gif); 
}

.side-nav .sidenav-tree ul.sidenav-text {
  margin: 0;
  margin-right: 10px;
  padding-left: 30px;
  padding-top: 15px;
  padding-bottom: 20px;
}

.side-nav .sidenav-tree ul.sidenav-text li {
  padding-top: 5;
  padding-bottom: 5px;
}

.side-nav .sidenav-down {
  height:17px; 
  width:184px; 
  background:url(../img/main_21.gif);
}

.content {
  margin-top: 10px; 
  margin-left: 210px;
  margin-right: 20px;
  margin-bottom: 60px;
}

.content.wider {
  width: 80%;
  margin: 0 auto;
  margin-top: 20px; 
}

.content h2.content-title {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 20px;
}

.content .content_title {
  font-size: 2em;
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 10px;
  text-align: center;
}

.content .innerContent {
  padding: 30px;
  text-align: center;
  font-size: 1.2em;
}

.content .document {
  border: 1px solid black;
}

.content .document_body {
  text-align: left;
  margin-left: 20px;
  margin-right: 20px;
}

.content .document_body.bigger {
  font-size: 1.5em;
}

.content .document_footer {
  margin-left: 20px;
  margin-top: 20px;
}

.content .submit_row {
  margin-top: 20px;
  margin-bottom: 20px;
}

.center {
  text-align: center;
}

table.formtable {
  margin: 0 auto;
  width: 70%;
}

table.formtable.narrower {
  width: 70%;
}

table.formtable.wider {
  width: 80%;
}

table.formtable td.formlabel {
  text-align: right;
  font-weight: bold;
}

table.formtable tr td {
  padding-top: 10px;
  padding-left: 10px;
}

table.formtable.narrower tr td {
  padding-left: 40px;
}

table.formtable tr.submitrow td {
  padding-top: 30px;
  text-align: center;
}
