header {
  width:100%; 
  background:url(../img/main_04.gif);
}

header .logo {
  width:357px;
  height:60px; 
  background:url(../img/main_02.gif); 
  margin-left:32px;
}

header .tools, footer .tools { 
  background-image: url("../img/main_09.gif"); 
  background-repeat: repeat-x; 
  color: #FFFFFF; 
  height: 35px; 
}

header .tools .logout {
  float:right; 
  margin-right:35px;
  padding-top:5px; 
}

header .tools .logout .logouttext {
  padding-top:3px; 
  margin-left:3px; 
  color: #fff;
  text-decoration: none;
  outline: none;
  font-weight: bold;
}

header .top-nav {
  background-image: url("main_10.gif");
  background-repeat: repeat-x;
  height: 20px;
  padding-top: 5px;
  padding-left: 5px;
  margin-left: 188px;
  font-size: 0.8em;
}

.side-nav {
  width:188px; 
  position: absolute;
  top: 60px;
  background-image:url(../img/main_bg.gif); 
  background-repeat:repeat-x;
}

.side-nav .sidenav-top {
  width:184px;
  background:url(../img/main_07.gif) no-repeat;
  height:52px; 
  margin-left:4px;
}

.side-nav .sidenav-tree {
  width:184px; 
  background:url(../img/main_19.gif); 
  height:260px; 
  margin-left:4px;
}

.side-nav .sidenav-down {
  height:17px; 
  width:184px; 
  margin-left:4px; 
  margin-bottom:0px; 
  background:url(../img/main_21.gif);
}

.side-nav .sidenav-tree .sidenav-icon {
  width:162px; 
  height:95px; 
  margin-left: 11px;
}

.side-nav .sidenav-tree .sidenav-icon.exam {
  background:url(../img/main_12.gif); 
}

.side-nav .sidenav-tree .sidenav-icon.training {
  background:url(../img/main_13.gif); 
}

.side-nav .sidenav-tree .sidenav-icon div {
  display: inline-block;
  margin-left:11px; 
  margin-top:10px; 
  cursor:pointer;
}

.side-nav .sidenav-tree ul.sidenav-text.hidden {
  display: none;
}

nav { 
  background-image: url("../img/main_10.gif"); 
  background-repeat: repeat-x; 
  height: 28px; 
  padding-top: 10px; 
}

nav img {
  margin-left: 15px; 
  padding-right: 8px;
}

.content {
  padding-top: 10px; 
  padding-left:200px;
  margin-bottom: 60px;
}

h2.content-title {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 20px;
}

.content-content {
  margin: 0 auto;
  text-align: center;
}

.exam_question {
  border: 1px solid #c9c9c9;
  margin-right: 10px;
  padding: 5px;
  margin-top: 2px;
}

.question_body {
  font-size: 1.2em;
  font-weight: bold;
}

.choices {
  padding-top: 10px;
}

.submit-row {
  margin-top: 20px;
}

.submit-row input[type="submit"] {
  font-size: 1.5em;
  font-weight: bold;
}

table {
  margin: 0 auto;
  width: 96%;
}

th, td {
  border: 1px solid #c9c9c9;
  padding: 5px;
  text-align: center;
}

table.noborder {
  width: auto;
  margin: 0;
}

table.noborder th, table.noborder td {
  border: 0;
  text-align: left;
}

.correctAnswer {
  font-weight: bold;
  font-size: 1.2em;
  padding-left: 5px;
}

.wrongAnswer {
  color: red;
  font-weight: bold;
  font-size: 1.2em;
  padding-left: 5px;
}

footer .tools {
  position: fixed;
  bottom: 10px;
  width: 100%;
  padding-top: 5px;
  text-align: center;
}

.clockwrapper {
  height: 100px;
}

.clock {
  position: fixed;
  top: 100px;
  z-index: 20;
  right: 20px;
}

.exam_text {
  overflow: scroll;
}

.cntSeparator {
  font-size: 54px;
  margin: 10px 7px;
  color: #000;
}

.desc { margin: 7px 3px; }

.desc div {
  float: left;
  font-family: Arial;
  width: 100px;
  margin-right: 45px;
  font-size: 13px;
  font-weight: bold;
  color: #000;
  text-align: center;
}

